---
layout: default
title: Portfolio
---

<ul class="projects clearfix">
{% for page in site.pages %}
    {% if page.type == "studio"%}
  <li>
    <div class="project">
      <a class="cover" href="{{ page.url }}">
        <div class="project-details">
          <span>
            {{ page.title }}
          </span>
          <span>
            View show
          </span>
        </div>
      </a>
      <img class="thumb" src="img/{{page.type}}/{{page.show}}/{{page.uid}}.jpg" />
      <div class="aspect-two-one"></div>
    </div>
  </li>
  {%endif%}
{% endfor %}
</ul>